<!-- index.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flag 2</title>
</head>
<body>
<p>The flag used to be there. But then I redacted it. Good Luck.
      <br></p>

        <p>Click on the image to download it:<p>
            <a href="/static/images/CTFFlag3.zip" download="File">
              <img src="/static/images/zipfileimg.png" alt="Zip File" width="130" height="142">
            </a>

        <form method="post" action="/ValidationFlag3">
        <label for="flag2">Flag 3:</label>
        <input type="text" id="flag3" name="flag3" style="width: 300px;"><br><br>
        <input type="submit" value="Submit">
      </form>
      
<!-- ... -->
</body>
</html>