<!-- index.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flag 2</title>
</head>
<body>
<p>Don’t be fooled by two 0xffd9 markers. xor and cb are your friends.
      <br></p>

        <p>Click on the image to download it:<p>
            <a href="/static/images/UmassFlag.jpeg" download="File">
              <img src="/static/images/UmassFlag.jpeg" alt="Image File" width="130" height="142">
            </a>

        <form method="post" action="/ValidationFlag1">
        <label for="flag1">Flag 1:</label>
        <input type="text" id="flag1" name="flag1" style="width: 300px;">
        <input type="submit" value="Submit">
      </form>
      
<!-- ... -->
</body>
</html>